.hub-office-map {
  position: relative;
  line-height: 1;

  &__legend {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 350px;
    background-color: $color-white;

    @media #{$large-and-up} {
      display: block;
    }
  }

  &__legend-heading {
    @extend .h3;

    text-transform: uppercase;
  }

  &__legend-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    > li {
      font-weight: bold;
      font-size: 0.75rem;
      text-transform: uppercase;
      flex-basis: 50%;
    }
  }

  &__legend-filters {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $color-grey-light;
    padding-top: 0.875rem;
    margin-top: 0.875rem;

    & > span {
      display: inline-block;
      flex-basis: 50%;
    }
  }

  &__legend-filter {
    @extend .btn-filter;

    font-weight: bold;
    font-size: 0.875rem;
    text-align: left;

    span {
      display: inline-block;

      &:last-child {
        position: absolute;
        right: -8px;
        transform: translateX(100%);
      }
    }
  }

  svg {
    display: none;

    @media #{$large-and-up} {
      display: block;
    }

    path {
      fill: none;
      stroke: rgba(0, 0, 0, 0);
      stroke-width: 2px;
      stroke-miterlimit: 10;
    }

    .property {
      path {
        cursor: pointer;
        fill: transparent;
        mix-blend-mode: color;
        transition: all 0.2s ease-in-out;
      }

      &[disabled] path {
        cursor: default;
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(255, 255, 255, 1);
      }

      // Properties do not have toggle interactions via hover + click.
      &:hover {
        cursor: default;
      }
    }

    &.dim-properties .property {
      &:not([disabled]) path {
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(255, 255, 255, 1);
        // fill: rgba(255, 255, 255, 0.6);
      }

      &:not([disabled]):hover path,
      &:not([disabled]):focus path,
      &--is-highlighted:not([disabled]) path {
        fill: rgba(255, 255, 255, 0);
        stroke: rgba(255, 255, 255, 0);
      }
    }
  }
}

.legend-item,
.legend-item-fl-heading span {
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    background-color: $color-black;
    content: '';
  }
}

.legend-item--blue::before,
.legend-item-fl-heading--blue span::before {
  background-color: rgb(28, 66, 127);
}

.legend-item--green::before,
.legend-item-fl-heading--green span::before {
  background-color: rgb(155, 187, 52);
}

.legend-item--purple::before,
.legend-item-fl-heading--purple span::before {
  background-color: rgb(170, 91, 169);
}

.legend-item--red::before,
.legend-item-fl-heading--red span::before {
  background-color: rgb(231, 21, 60);
}

.legend-item--light-blue::before,
.legend-item-fl-heading--light-blue span::before {
  background-color: rgb(83, 163, 204);
}

.hub-office-map__mobile {
  @media #{$large-and-up} {
    display: none;
  }
}

#map-information {
  display: block;

  @media #{$large-and-up} {
    display: none;
  }
}
