.hub-office-map {
  position: relative;
  line-height: 1;

  &__graphic {
    position: absolute;
    z-index: -1;
  }

  &__legend {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 375px;
    background-color: $color-white;

    @media #{$large-and-up} {
      display: block;
    }
  }

  &__legend-heading {
    @extend .h3;

    text-transform: uppercase;
    font-size: 1.25rem;
    padding-top: 0;
  }

  &__legend-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    > li {
      font-weight: bold;
      font-size: 0.75rem;
      text-transform: uppercase;
      flex-basis: 50%;
      margin: 0.25rem 0;

      &:last-of-type {
        flex-basis: 100%;
      }
    }
  }

  &__legend-phases {
    display: flex;
    border-top: 2px solid $color-grey-light;
    padding-top: 0.875rem;
    margin-top: 0.875rem;

    fieldset {
      border: 0;
      padding: 0;
    }

    input[type="radio"] {
      position: relative;
      opacity: 1;
      pointer-events: initial;

      + label {
        padding-left: 0.25rem;
        margin-right: 1rem;
        color: $color-black;
      }
    }

    & > span {
      display: inline-block;
      flex-basis: 50%;
    }
  }

  &__legend-filter {
    @extend .btn-filter;

    font-weight: bold;
    font-size: 0.875rem;
    text-align: left;

    &--blue,
    &--purple,
    &--light-blue,
    &--green,
    &--red {
      > span {
        color: $color-black;
      }
    }

    &--blue,
    &--blue::after {
      color: rgb(28, 66, 127);
    }

    &--purple,
    &--purple::after {
      color: rgb(170, 91, 169);
    }

    &--light-blue,
    &--light-blue::after {
      color: rgb(83, 163, 204);
    }

    &--green,
    &--green::after {
      color: rgb(155, 187, 52);
    }

    &--red,
    &--red::after {
      color: rgb(231, 21, 60);
    }
  }

  svg {
    display: none;

    @media #{$large-and-up} {
      display: block;
    }

    path {
      fill: none;
      stroke: rgba(0, 0, 0, 0);
      stroke-width: 2px;
      stroke-miterlimit: 10;
    }

    .property {
      path {
        cursor: pointer;
        fill: transparent;
        mix-blend-mode: color;
        transition: all 0.3s ease-in-out;
      }

      &[disabled] path {
        cursor: default;
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(255, 255, 255, 1);

        // Firefox mix-blend-mode bug fallback...
        // https://bugzilla.mozilla.org/show_bug.cgi?id=1448257
        .firefox & {
          fill: rgba(0, 0, 0, 0.25);
          stroke: rgba(0, 0, 0, 0.25);
        }
      }

      // Properties do not have toggle interactions via hover + click.
      &:hover {
        cursor: default;
      }
    }
  }
}

.legend-item,
.legend-item-fl-heading span {
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    background-color: $color-black;
    content: '';
  }
}

.legend-item--blue::before,
.legend-item-fl-heading--blue span::before {
  background-color: rgb(28, 66, 127);
}

.legend-item--green::before,
.legend-item-fl-heading--green span::before {
  background-color: rgb(155, 187, 52);
}

.legend-item--purple::before,
.legend-item-fl-heading--purple span::before {
  background-color: rgb(170, 91, 169);
}

.legend-item--red::before,
.legend-item-fl-heading--red span::before {
  background-color: rgb(231, 21, 60);
}

.legend-item--light-blue::before,
.legend-item-fl-heading--light-blue span::before {
  background-color: rgb(83, 163, 204);
}

.hub-office-map__mobile {
  @media #{$large-and-up} {
    display: none;
  }
}

#map-information {
  display: block;

  @media #{$large-and-up} {
    display: none;
  }
}
