body {
  h1, .h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem-calc(60px);
  }

  h2, .h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: $color-purple;
    font-size: rem-calc(40px);
  }

  h3, .h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: $color-purple;
    letter-spacing: 0;
  }

  .entry-content a {
    color: $color-purple;
  }
}
