// Colors
$color-mint: #57C1A5;
$color-mint-light: #88E3D1;
$color-frontier-slate: #333F47;
$color-frontier-grey-dark: #7A868C;
$color-frontier-grey: #A2A9AE;
$color-frontier-grey-light: #CBC8C7;
$color-pink: #F7406C;
$color-pink-light: #EE9AAC;
$color-frontier-blue: #0094C9;
$color-frontier-blue-light: #A1DAE8;
