.single, .archive.taxonomy-data {
  h1 {
    @include rtp-gradient;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 600;
  }

  h2 {
    color: $color-black;
  }
}
