h2 {
  display: inline-block;
  font-weight: 600;

  // Only clip text if supported.
  @supports (-webkit-background-clip: text) {
    &:not(.heading-reset) {
      @include rtp-gradient;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      .history & {
        -webkit-text-fill-color: initial;
      }
    }
  }
}

h3 {
  font-weight: 500;
}

p {
  font-size: 18px;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center;
}
