.figure-card-horizontal {
  img {
    width: 66vw;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    z-index: 1;
    height: 500px;
    object-fit: cover;
  }
}

.figure-card-vertical {
  img {
    position: relative;
    z-index: 1;
    height: 300px;
    object-fit: cover;
  }
}
