.figure-card {
  .card-badge {
    span {
      min-width: 100px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.figure-card-horizontal {
  img {
    width: 66vw;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    z-index: 1;
    height: 500px;
    object-fit: cover;
  }

  .card-content {
    img {
      height: auto;
      margin-left: 0;
      position: static;
    }
  }
}

.figure-card-vertical {
  img {
    position: relative;
    z-index: 1;
    height: 300px;
    object-fit: cover;
  }

  .card-content {
    img {
      height: auto;
      margin-left: 0;
      position: static;
    }
  }
}
