.uabb-hotspot-tooltip-content {
  background: rgba($color-mint, 0.8) !important;
  width: 400px;
  font-size: 14px;
  color: $color-black !important;
  text-align: left;

  &::after {
    // border-right-color: rgba($color-mint, 0.8) !important;
    border-color: transparent !important;
  }
}
