.home-banner-wrapper {
  .home-banner {
    background: rgba($color-blue-frontier, 0.8);
  }

  .banner-cta {
    background: $color-blue-hub;
  }
}

.footer-social {
  display: none;
  speak: none;
}
