body {
  h1, .h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: rem-calc(55px);
    font-weight: 600;
    letter-spacing: -0.3px;
  }

  h2, .h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem-calc(40px);
    color: $color-mint;
  }

  h3, .h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0;
    margin-top: 0;
  }

  .entry-content a {
    color: $color-mint;
  }
}
