.landing-graphic {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  height: 1000px;
}

#svg-badge {
  opacity: 0;
}

.placeholder {
  height: 3000px;
  // background: $color-grey-light;
}
