.spacer {
  height: 100px;
}

.landing-graphic-scene {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  height: 1000px;
}

#svg-text {
  position: relative;
  z-index: 1;
}

#gradient-bar {
  position: absolute;
  top: 14vw;
  height: 8.8vw;
  left: 50%;
  width: 0;
  transform: translate3d(-50%, 0, 0);
  // transition: 0.6s all;
  z-index: 0;

  @include rtp-gradient;

  &.wide {
    width: 100%;
    opacity: 1;
  }
}

.placeholder {
  height: 3000px;
  // background: $color-grey-light;
}
