.entry-content .mec-wrap h1, .entry-content .mec-wrap h2, .entry-content .mec-wrap h3, .entry-content .mec-wrap h4, .entry-content .mec-wrap h5, .entry-content .mec-wrap h6, .mec-wrap h1, .mec-wrap h2, .mec-wrap h3, .mec-wrap h4, .mec-wrap h5, .mec-wrap h6 {
  font-family: 'Oswald', sans-serif;
}

.mec-wrap {
  .mec-totalcal-box {
    .mec-totalcal-view {
      span {
        background: $color-red-boxyard;

        &:hover, &:focus, &:active, &.mec-totalcalview-selected {
          background: darken($color-red-boxyard, 20%);
        }
      }
    }
  }

  .mec-date-search {
    i {
      background: darken($color-red-boxyard, 20%);
    }
  }

  .select-wrapper {
    input.select-dropdown {
      background: $color-red-boxyard;

      &:hover, &:focus, &:active {
        background: darken($color-red-boxyard, 20%);
      }
    }

    ul.dropdown-content {
      li.selected {
        background: darken($color-red-boxyard, 20%);
      }
    }
  }

  h2.mec-month-divider {
    color: $color-red-boxyard;
  }
}

.mec-calendar {
  .mec-calendar-side {
    .mec-previous-month, .mec-next-month {
      &:hover, &:focus, &:active {
        color: $color-red-boxyard;
      }
    }
  }

  .mec-calendar-table-head {
    dt {
      color: $color-red-boxyard;
    }
  }

  .mec-has-event {
    a {
      &:hover, &:active, &:focus {
        background: $color-red-boxyard;
      }
    }

    &::after {
      background-color: $color-red-boxyard;
    }

    &:hover, &:active, &:focus {
      background: $color-red-boxyard !important;
    }
  }

  .mec-selected-day {
    background: darken($color-red-boxyard, 20%);
  }

  .mec-calendar-events-side {
    .mec-table-side-day {
      border-color: $color-red-boxyard;
    }
  }

  .mec-event-article {
    .mec-event-title {
      a {
        &:hover, &:focus, &:active {
          color: $color-red-boxyard;
        }
      }
    }
  }

  &.mec-calendar-weekly {
    .mec-previous-month, .mec-next-month {
      &:hover, &:focus, &:active {
        color: $color-red-boxyard;

        i {
          color: $color-red-boxyard;
        }
      }
    }

    .mec-calendar-d-table {
      dl dt {
        .mec-weekly-view-weekday {
          color: $color-red-boxyard;
        }
      }
    }
  }
}

.mec-yearly-view-wrap {
  .mec-yearly-title-sec {
    .mec-previous-year, .mec-next-year {
      &:hover, &:focus, &:active {
        color: $color-red-boxyard;
      }
    }
  }

  .mec-agenda-event-title {
    a {
      &:hover, &:focus, &:active {
        color: $color-red-boxyard;
      }
    }
  }
}

.mec-wrap article:not([class^=mec-event-countdown]):not([class^=mec-event-cover-]).mec-label-canceled::before, .mec-wrap article:not([class^=mec-event-countdown]):not([class^=mec-event-cover-]).mec-label-featured::before, .mec-event-grid-classic article .mec-fc-style, .mec-event-grid-minimal article .mec-fc-style, .mec-event-grid-simple article .mec-fc-style, .mec-timetable-wrap article .mec-fc-style, .mec-wrap .mec-event-list-accordion article .mec-fc-style, .mec-wrap .mec-event-list-modern article .mec-fc-style, .mec-wrap .mec-events-agenda .mec-agenda-event .mec-fc-style, .mec-wrap article.mec-event-cover-classic .mec-fc-style, .mec-wrap article.mec-event-cover-clean .mec-fc-style, .mec-wrap article.mec-event-cover-modern .mec-fc-style, .mec-wrap article[class^=mec-event-countdown-] .mec-fc-style {
  background: $color-pink;
}

.mec-event-grid-minimal article .mec-fc-style::before, .mec-event-grid-simple article .mec-fc-style::before, .mec-timetable-wrap article .mec-fc-style::before, .mec-wrap .mec-event-list-accordion article .mec-fc-style::before, .mec-wrap .mec-event-list-modern article .mec-fc-style::before, .mec-wrap .mec-events-agenda .mec-agenda-event .mec-fc-style::before, .mec-wrap article.mec-event-cover-classic .mec-fc-style::before, .mec-wrap article.mec-event-cover-clean .mec-fc-style::before, .mec-wrap article[class^=mec-event-countdown-] .mec-fc-style::before {
  color: $color-pink;
}

.mec-color, .mec-color-before ::before, .mec-color-hover:hover, .mec-wrap .mec-color, .mec-wrap .mec-color-before ::before, .mec-wrap .mec-color-hover:hover {
  color: $color-red-boxyard;
}

.single-mec-events {
  .mec-single-event-bar {
    background: rgba($color-red-boxyard, 0.2);
  }

  .mec-event-export-module.mec-frontbox .mec-event-exporting .mec-export-details {
    ul {
      li {
        a {
          border: 1px solid $color-red-boxyard;
          color: $color-red-boxyard;

          &:hover, &:focus, &:active {
            background: $color-red-boxyard;
            color: $color-white;
          }
        }
      }
    }
  }

  .mec-booking-button {
    background-color: $color-red-boxyard;
  }
}
