body {
  h1, .h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
  }

  h2, .h2 {
    color: $color-red-boxyard;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: rem-calc(40px);
  }

  h3, .h3 {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
  }
}
