.blog {
  .page-header {
    margin-bottom: 2em;
  }
}

.figure-card {
  position: relative;
  width: 31.3%;
  margin: 0.8em 1%;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .card {
    margin: -65px 30px 60px;
    background: #FFF;
    padding: 24px 24px 4px;
    position: relative;
    transition: box-shadow 0.3s;
    box-shadow: 0;
    box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.5);

    .card-title {
      margin-top: 1.5em;
      min-height: 150px;

      a {
        color: black;
      }
    }

    p {
      height: 110px;
      overflow: hidden;
    }

    .badge {
      border-color: #47D7AC;
      border-style: solid;
      border-width: 0;
      border-top-width: 8px;
      border-left-width: 8px;
      font-weight: bold;
      position: absolute;
      top: 24px;
      left: 24px;
      width: 30px;
      height: 30px;

      span {
        padding-left: 5px;
        font-size: 14px;
      }
    }

    .meta {
      position: absolute;
      right: 24px;
      top: 35px;
      font-size: 13px;
      text-transform: uppercase;
    }

    .cta {
      border-color: #47D7AC;
      border-style: solid;
      border-width: 0;
      border-top-width: 4px;
      padding: 5px;

      a {
        color: #000;
        display: block;
        text-align: right;
        width: 100%;
        height: 40px;
        font-size: 0.9em;
        line-height: 40px;
        text-transform: uppercase;
        text-decoration: none !important;
        transition: color 0.3s ease;
        vertical-align: middle;

        .arrow {
          display: inline-block;
          padding: 4px 0 14px 14px;
          width: 40px;
          height: 40px;
          transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
        }
      }
    }
  }

  .pattern-background {
    position: absolute;
    z-index: -10;
    top: 0;
    bottom: -30px;
    right: -30px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
