// Main Site Logo
.banner .logo {
  max-width: 160px;
}

// Homepage Hero
.homepage-cta-row {
  .card {
    background: rgba($color-frontier-mint, 0.8);
    color: $color-white;
    padding: 0;

    &:hover, &:focus, &:active {
      box-shadow: none;
    }

    .card-title {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 55px;
      font-weight: 500;
      letter-spacing: -0.3px;
      line-height: 1.2em;
      padding: 10px 20px 10px 30px;

      @media #{$small-and-down} {
        font-size: 45px;
      }
    }

    .card-badge {
      border-color: $color-white;
      position: relative;
      top: 40px;
      left: 31px;
    }

    .card-cta {
      background: rgba($color-duke, 0.8);
      border-top: 0;
      margin: 0;
      padding: 10px 20px;

      a {
        color: $color-white;
      }
    }
  }
}

// Page headers
.page-header .container {
  background: rgba($color-mint, 0.8);
}
