.text-uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center;
}

.template-annual-report {
  h2 {
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    color: #707070;
    max-width: 940px;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 42px;
    }
  }

  .text-feat {
    display: block;
    font-size: 72px !important;
    letter-spacing: -1.5px;
    color: inherit;
    line-height: 1.25;
    font-weight: 500;
  }
}
