// Grid Test
.grid-test > div {
  .fl-module-info-box,
  .fl-module-info-box > .fl-module-content,
  .fl-module-info-box > .fl-module-content > .uabb-infobox {
    height: 100%;
    text-transform: uppercase;

    .text-feat {
      color: #434343;
    }
  }
}

.grid-test {
  .uabb-infobox {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .grid-test > div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .grid-test {
    .div-1 {
      grid-area: 1 / 2 / 2 / 3;
    }

    .div-2 {
      grid-area: 1 / 3 / 2 / 4;
    }

    .div-3 {
      grid-area: 2 / 1 / 3 / 2;
    }

    .div-4 {
      grid-area: 2 / 2 / 3 / 3;
    }

    .div-1,
    .div-4 {
      .uabb-infobox-content {
        display: flex;
      }

      .uabb-imgicon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 200px;
      }
    }

    .div-2,
    .div-3 {
      .uabb-imgicon-wrap,
      .text-feat {
        text-align: center;
      }
    }
  }

  // Grid Test 2
  .grid-test-2 .fl-col-group-nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;

    .fl-col-content {
      width: 100%;
    }

    > .fl-col {
      width: 100% !important;
    }
  }

  .grid-test-2 {
    color: white;

    .fl-module-content {
      margin: 0;
      padding: 87px 40px;
    }

    .fl-rich-text {
      display: flex;
    }

    .fl-module-rich-text {
      background-color: rgba(50, 48, 90, 0.8);
      height: calc(50% - 0.5rem);
    }

    .div-1 {
      grid-area: 1 / 1 / 3 / 2;

      > .fl-col-content {
        display: flex;
        align-items: flex-end;
      }

      .fl-node-content {
        height: 100%;
      }
    }

    .div-2 {
      grid-area: 1 / 2 / 2 / 3;
    }

    .div-3 {
      grid-area: 2 / 2 / 3 / 3;
    }

    .div-2,
    .div-3 {
      > .fl-col-content,
      .fl-module-rich-text {
        height: 100%;
      }
    }
  }
}

// Flex wrapper for Rich Text modules.
.fl-rich-text-flex {
  .fl-rich-text {
    display: flex;

    .icon {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 140px;
      padding-left: 1rem;
    }
  }
}

// Video
.section-bg-video {
  h1 {
    @include rtp-gradient;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

// Figure Cards
.fl-builder-edit .figure-card {
  opacity: 1 !important;
}

@media (min-width: 768px) {
  .figure-card-wrapper {
    .figure-card {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    .fl-col:hover .figure-card,
    .figure-card:focus-within {
      opacity: 1;
    }
  }
}

// Grid
@media (max-width: 768px) {
  .fl-col-small:not(.fl-col-small-full-width) {
    max-width: 100%;
  }
}
