.blog {
  .page-header {
    margin-bottom: 2em;
  }

  .flex-item {
    margin-bottom: 20px;
  }

  .figure-card {
    position: relative;
    height: 100%;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }

    .card {
      margin: -65px 30px 50px;
      height: calc(100% - 300px);
      background: #FFF;
      padding: 24px 24px 4px;
      position: relative;
      transition: box-shadow 0.3s;
      box-shadow: 0;
      box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.5);
      z-index: 2;

      &:hover, &:focus, &:active {
        box-shadow: 3px 3px 18px -2px rgba(0, 0, 0, 0.5);
      }

      .meta {
        position: absolute;
        right: 24px;
        top: 35px;
        font-size: 13px;
        text-transform: uppercase;
      }
    }

    .card-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .card-badge {
      border-style: solid;
      border-width: 0;
      border-top-width: 8px;
      border-left-width: 8px;
      font-weight: bold;
      position: absolute;
      top: 24px;
      left: 24px;
      width: 30px;
      height: 30px;
      text-transform: uppercase;

      span {
        position: absolute;
        display: block;
        font-size: 0.8em;
        font-weight: 300;
        left: 9px;
        top: 7px;
        white-space: nowrap;
      }
    }

    .card-title {
      margin: 40px 16px 20px;

      a {
        font-weight: 600 !important;
        text-decoration: none !important;
        color: $color-black;

        &:hover, &:focus, &:active {
          text-decoration: underline !important;
        }
      }
    }

    .card-cta {
      border-style: solid;
      border-width: 0;
      border-top-width: 4px;
      padding: 5px;
      margin: auto 16px 0;

      a {
        color: #000;
        display: block;
        text-align: right;
        width: 100%;
        height: 40px;
        font-size: 0.9em;
        line-height: 40px;
        text-transform: uppercase;
        text-decoration: none !important;
        transition: color 0.3s ease;
        vertical-align: middle;

        span {
          vertical-align: middle;
        }

        .arrow {
          display: inline-block;
          padding: 4px 0 14px 14px;
          width: 40px;
          height: 40px;
          transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;

          path {
            fill: $color-black;
            transition: fill 0.3s ease;
          }
        }

        &:hover, &:focus, &:active {
          text-decoration: underline !important;

          .arrow {
            transform: translate3d(10px, 0, 0);
          }
        }
      }
    }

    .pattern-background {
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 30px;
      left: 65px;
      right: 0;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &.badge-rtp {
      .card-badge, .card-cta {
        border-color: $color-slate;
        color: $color-slate;
      }

      .card-cta a {
        &:hover, &:focus, &:active {
          color: $color-slate;

          .arrow path {
            fill: $color-slate;
          }
        }
      }
    }

    &.badge-hub, &.badge-hub-rtp {
      .card-badge, .card-cta {
        border-color: $color-blue-unc;
        color: $color-blue-unc;
      }

      .card-cta a {
        &:hover, &:focus, &:active {
          color: $color-blue-unc;

          .arrow path {
            fill: $color-blue-unc;
          }
        }
      }
    }

    &.badge-boxyard, &.badge-boxyard-rtp {
      .card-badge, .card-cta {
        border-color: $color-boxyard;
        color: $color-boxyard;
      }

      .card-cta a {
        &:hover, &:focus, &:active {
          color: $color-boxyard;

          .arrow path {
            fill: $color-boxyard;
          }
        }
      }
    }

    &.badge-frontier, &.badge-frontier-rtp {
      .card-badge, .card-cta {
        border-color: $color-mint;
        color: $color-mint;
      }

      .card-cta a {
        &:hover, &:focus, &:active {
          color: $color-mint-a11y;

          .arrow path {
            fill: $color-mint;
          }
        }
      }
    }

    &.badge-stem, &.badge-stem-rtp {
      .card-badge, .card-cta {
        border-color: $color-purple;
        color: $color-purple;
      }

      .card-cta a {
        &:hover, &:focus, &:active {
          color: $color-purple;

          .arrow path {
            fill: $color-purple;
          }
        }
      }
    }
  }
}
