.btn {
  height: auto;
  font-weight: 700;

  [data-font="3"] & {
    font-weight: 500;
  }

  &:not(.btn-small) {
    padding: 10px 2rem;
  }
}

a.btn {
  color: $color-white;
}

.fl-builder-content.fl-builder-content a.fl-button.fl-button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  box-shadow: none;

  span {
    color: $color-black;
  }

  &::after {
    content: '';
    display: inline-block;
    padding: 4px 0 14px 14px;
    width: 40px;
    height: 25px;
    background-image: url(../images/arrow-right.svg);
    background-size: 26px 20.5px;
    background-repeat: no-repeat;
    background-position: right center;
    transition: transform 0.3s ease;
    vertical-align: -0.4em;
  }

  &:hover, &:focus, &:active {
    span {
      text-decoration: underline;
    }

    &::after {
      transform: translate3d(10px, 0, 0);
    }
  }
}
