.mec-wrap {
  select {
    display: block;
  }
}

.mec-wrap .mec-dropdown-search select {
  width: calc(100% - 36px);
}

.mec-wrap .mec-text-input-search input[type="search"] {
  width: calc(100% - 50px);
  min-height: 36px;
  height: 36px;
  line-height: 36px;
  background: #fff;
  font-size: 13px;
  color: #777;
  border: 1px solid #efefef;
  margin: 0 0 0 -1px;
  float: left;
  padding: 0 5px;
}
