.search-form {
  .banner &, .content &, .footer & {
    height: auto;
    // background: $color-purple-dark;
    // border: 2px solid $color-purple-dark;
    border-radius: 3px;
    clear: both;
    line-height: 2.2rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: 6px;
      width: calc(2.2rem - 12px);
      height: calc(2.2rem - 12px);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: image('icon-search.svg');
      pointer-events: none;
    }

    label {
      float: left;
      width: calc(100% - 35px);
    }

    input.search-field {
      height: 2.2rem;
      margin: 0;
      padding: 0 10px;
      border: 0 !important;
      border-radius: 3px;
      box-sizing: border-box;
      width: 100%;
    }

    input.search-submit {
      display: block;
      height: 2.2rem;
      width: 2.2rem;
      // color: $color-purple-dark;
      text-indent: -100em;
      overflow: hidden;
      border: none;
      // background: $color-purple-dark;
      cursor: pointer;
    }
  }
}

// Sign up Contact Form
.ctct-form-wrapper.ctct-form-wrapper {
  .ctct-form-field {
    text-align: center;
    margin: 0;
  }

  .ctct-submit {
    width: 100%;

    @extend .btn;
    // @extend .btn-tertiary;
  }

  label {
    font-size: 0.9rem;
    color: $color-white;
  }

  input[type="text"], input[type="email"] {
    border: 1px solid rgba($color-white, 0.7);
    border-radius: 1px;
    width: 99.5%;
    padding: 2px 10px;
    box-sizing: border-box;
  }

  .ctct-form abbr {
    color: $error-color;
  }
}

input {
  &:not([type]), &[type=text], &[type=password], &[type=email], &[type=url], &[type=time], &[type=date], &[type=datetime], &[type=datetime-local], &[type=tel], &[type=number], &[type=search] {
    &:not(.browser-default) {
      border: 1px solid $color-grey-light;
      padding: 0 10px;
      width: calc(100% - 20px);

      .wp-core-ui &, .wp-link-input & {
        height: auto;
        background: $color-white;
        padding: 8px;
        border-radius: 3px;
        box-sizing: border-box;
      }
    }
  }
}

textarea.materialize-textarea {
  border: 1px solid $color-grey-light;
}

.input-field label {
  left: 5px;
}

.wp-core-ui {
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static;
    opacity: 1;
    pointer-events: auto;
  }

  select {
    display: inline-block;

    &#media-attachment-date-filters {
      width: auto;
    }
  }
}

// Gravity Form Styles
.uabb-gf-style.uabb-gf-style {
  padding: 0;
}

.gform_wrapper.gform_wrapper {
  .gfield {
    padding-left: 0;

    &.m6 {
      @media #{$medium-and-up} {
        float: left;
        clear: none;
        width: 50%;
        padding-right: 10px !important;

        input[type="text"], input[type="textarea"], input[type="url"], input[type="password"], input[type="email"] {
          width: 100%;
        }

        & + .m6 {
          padding-left: 7px;
          padding-right: 2px !important;
        }
      }
    }
  }

  .gfield_label {
    color: $color-slate-dark;
    line-height: 1.2em !important;
    font-size: 1.2rem;
  }

  .gfield_required {
    color: $color-red-state;
  }

  div.ginput_container {
    margin-top: 0 !important;
  }

  .field_sublabel_below {
    .ginput_complex {
      input {
        margin-bottom: 0 !important;

        + label {
          color: $color-slate;
          margin-bottom: 0;
        }
      }
    }
  }

  .gform_button.button {
    @extend .btn;

    background: $color-blue-unc !important;
    border: $color-blue-unc !important;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0;

    &:hover, &:focus {
      @extend .z-depth-2;
    }

    &:focus {
      outline: $color-blue-unc auto 5px;
    }

    &:active {
      background: $color-blue-duke !important;
      border: $color-blue-duke !important;
    }
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    color: $color-slate;
    font-weight: 400;
  }

  .gfield_radio, .gfield_checkbox {
    input[type="radio"], input[type="checkbox"] {
      + label {
        color: $color-slate;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        transition: .28s ease;
        user-select: none;

        &::before, &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          margin: 4px;
          width: 16px;
          height: 16px;
          z-index: 0;
          transition: .28s ease;
          border-radius: 50%;
          border: 2px solid $color-grey-dark;
        }
      }

      &:focus {
        + label {
          font-weight: 400;

          &::before {
            @extend .z-depth-1;
          }
        }
      }
    }

    input[type="radio"] {
      &:not(:checked) {
        + label {
          &::after {
            transform: scale(0);
          }
        }
      }

      &:checked {
        + label {
          &::before {
            border: 2px solid $color-blue-unc;
          }

          &::after {
            border: $color-blue-unc;
            background-color: $color-blue-unc;
            transform: scale(.5);
          }
        }
      }
    }

    input[type="checkbox"] {
      + label {
        &::after {
          display: none;
        }

        &::before {
          width: 18px;
          height: 18px;
          border-radius: 1px;
          margin: 3px 0 0 0;
        }
      }

      &:checked {
        + label {
          &::before {
            top: -4px;
            left: -5px;
            width: 12px;
            height: 22px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right-color: $color-blue-unc;
            border-bottom-color: $color-blue-unc;
            transform: rotate(40deg);
            backface-visibility: hidden;
            transform-origin: 100% 100%;
          }
        }
      }
    }
  }
}

// Modern Events Calendar Form Styles
.mec-fes-form {
  #mec-exceptional-days {
    display: none;
    speak: none;
  }

  #mec-location, #mec-organizer {
    .mec-tooltip {
      display: none;
      speak: none;
    }
  }

  #mec_location_id option[value="0"] {
    display: none;
    speak: none;
  }

  #mec_location_new_container + .mec-form-row {
    display: none;
    speak: none;
  }

  #mec_organizer_new_container + h4 {
    &, & + .mec-form-row {
      display: none;
      speak: none;
    }
  }
}

// Mailchimp signup
footer {
  #mc_embed_signup {
    background: transparent;
    padding: 0;

    #mc_embed_signup_scroll {
      display: flex;
      align-items: center;
    }

    input.email {
      width: auto;
      border-radius: 0;
    }

    .button {
      border-radius: 0;
      background: $color-blue-unc;
    }
  }
}
