form {
  label {
    color: $color-slate-dark;
    line-height: 1.2em;
    font-size: 1rem;
    font-weight: 400;
  }
}

.search-form {
  .banner &, .content &, .footer & {
    height: auto;
    // background: $color-purple-dark;
    // border: 2px solid $color-purple-dark;
    border-radius: 3px;
    clear: both;
    line-height: 2.2rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: 6px;
      width: calc(2.2rem - 12px);
      height: calc(2.2rem - 12px);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: image('icon-search.svg');
      pointer-events: none;
    }

    label {
      float: left;
      width: calc(100% - 35px);
    }

    input.search-field {
      height: 2.2rem;
      margin: 0;
      padding: 0 10px;
      border: 0 !important;
      border-radius: 3px;
      box-sizing: border-box;
      width: 100%;
    }

    input.search-submit {
      display: block;
      height: 2.2rem;
      width: 2.2rem;
      // color: $color-purple-dark;
      text-indent: -100em;
      overflow: hidden;
      border: none;
      // background: $color-purple-dark;
      cursor: pointer;
    }
  }
}

// Sign up Contact Form
.ctct-form-wrapper.ctct-form-wrapper {
  .ctct-form-field {
    text-align: center;
    margin: 0;
  }

  .ctct-submit {
    width: 100%;

    @extend .btn;
    // @extend .btn-tertiary;
  }

  label {
    font-size: 0.9rem;
    color: $color-white;
  }

  input[type="text"], input[type="email"] {
    border: 1px solid rgba($color-white, 0.7);
    border-radius: 1px;
    width: 99.5%;
    padding: 2px 10px;
    box-sizing: border-box;
  }

  .ctct-form abbr {
    color: $error-color;
  }
}

input {
  &:not([type]), &[type=text], &[type=password], &[type=email], &[type=url], &[type=time], &[type=date], &[type=datetime], &[type=datetime-local], &[type=tel], &[type=number], &[type=search] {
    &:not(.browser-default) {
      border: 1px solid $color-grey-light;
      padding: 0 10px;
      width: calc(100% - 20px);

      .wp-core-ui &, .wp-link-input & {
        height: auto;
        background: $color-white;
        padding: 8px;
        border-radius: 3px;
        box-sizing: border-box;
      }
    }
  }
}

textarea.materialize-textarea {
  border: 1px solid $color-grey-light;
}

.input-field label {
  left: 5px;
}

.wp-core-ui {
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: static;
    opacity: 1;
    pointer-events: auto;
  }

  select {
    display: inline-block;

    &#media-attachment-date-filters {
      width: auto;
    }
  }
}

// Gravity Form Styles
.uabb-gf-style.uabb-gf-style {
  padding: 0;
}

.gform_wrapper.gform_wrapper {
  .gfield {
    &::before {
      display: none;
    }

    padding-left: 0;
    padding-right: 16px !important;

    @media #{$medium-and-up} {
      input[type="text"], input[type="textarea"], input[type="url"], input[type="password"], input[type="email"] {
        width: 100%;
      }

      &.m6 {
        float: left;
        clear: none;
        width: 50%;
      }

      &.m4 {
        float: left;
        clear: none;
        width: calc(100% / 3);
      }
    }

    input[type="text"], input[type="textarea"], input[type="url"], input[type="password"], input[type="email"], textarea {
      margin-top: 10px;
      margin-bottom: 15px;
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }

  .gsection_title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: $color-slate;
    -webkit-text-fill-color: $color-slate;
    margin-top: 1.5em !important;
  }

  .gfield_label {
    color: $color-slate-dark;
    line-height: 1.2em !important;
    font-size: 1rem;
    font-weight: 400;
  }

  .gfield_required {
    color: $color-red-state;
  }

  div.ginput_container {
    margin-top: 0 !important;

    &.ginput_container_time {
      i {
        margin-top: 25%;
        width: 15px;
      }

      input {
        width: 54px;
      }

      .select-wrapper {
        input {
          width: 100%;
        }
      }
    }
  }

  div.ginput_container_checkbox {
    margin-bottom: 15px !important;
  }

  .field_sublabel_below {
    .ginput_complex {
      input {
        margin-bottom: 0 !important;

        + label {
          color: $color-slate;
          font-weight: 300;
          margin-bottom: 0;
        }
      }

      .caret {
        top: 10px;
        pointer-events: none;
      }
    }
  }

  .field_description_below .gfield_description {
    padding-top: 0;
    margin-top: -15px;
  }

  .gform_button.button {
    @extend .btn;

    background: $color-blue-unc !important;
    border: $color-blue-unc !important;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0;

    &:hover, &:focus {
      @extend .z-depth-2;

      text-decoration: underline;
    }

    &:focus {
      outline: $color-blue-unc auto 5px;
    }

    &:active {
      background: $color-blue-duke !important;
      border: $color-blue-duke !important;
    }
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    color: $color-slate;
    font-weight: 400;
  }

  .select-wrapper {
    display: inline-block;

    input.select-dropdown {
      height: 3rem;
      background: $color-white;
      border: 1px solid $color-grey-light;
      text-align: left;
      text-transform: none;

      &:hover, &:focus {
        background: rgba(0, 0, 0, 0.08);
      }
    }

    ul.dropdown-content li {
      text-transform: none;
      padding-left: 0;

      &::before {
        display: none;
      }

      span {
        padding: 16px;
        min-height: 50px;
      }

      &.selected {
        background: $color-blue-unc-light;

        span {
          color: $color-slate-dark;
        }
      }
    }

    .caret {
      fill: $color-grey-dark;
      z-index: 1;
    }

    + label {
      position: relative;
      top: auto;
      color: $color-slate;
    }
  }

  .gfield_radio, .gfield_checkbox {
    li::before {
      display: none;
    }

    input[type="radio"], input[type="checkbox"] {
      + label {
        color: $color-slate;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        transition: 0.28s ease;
        user-select: none;

        &::before, &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          margin: 4px;
          width: 16px;
          height: 16px;
          z-index: 0;
          transition: 0.28s ease;
          border-radius: 50%;
          border: 2px solid $color-grey-dark;
        }
      }

      &:focus {
        + label {
          font-weight: 400;
        }
      }

      &:not(:checked):focus {
        + label {
          &::before {
            @extend .z-depth-1;
          }
        }
      }
    }

    input[type="radio"] {
      &:not(:checked) {
        + label {
          &::after {
            transform: scale(0);
          }
        }
      }

      &:checked {
        + label {
          &::before {
            border: 2px solid $color-blue-unc;
          }

          &::after {
            border: $color-blue-unc;
            background-color: $color-blue-unc;
            transform: scale(0.5);
          }
        }
      }
    }

    input[type="checkbox"] {
      + label {
        &::after {
          display: none;
        }

        &::before {
          width: 18px;
          height: 18px;
          border-radius: 1px;
          margin: 3px 0 0 0;
        }
      }

      &:checked {
        + label {
          &::before {
            top: -4px;
            left: -5px;
            width: 12px;
            height: 22px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right-color: $color-blue-unc;
            border-bottom-color: $color-blue-unc;
            transform: rotate(40deg);
            backface-visibility: hidden;
            transform-origin: 100% 100%;
          }
        }
      }
    }
  }
}

// Modern Events Calendar Form Styles
.mec-fes-form {
  #mec-exceptional-days {
    display: none;
    speak: none;
  }

  #mec-location, #mec-organizer {
    .mec-tooltip {
      display: none;
      speak: none;
    }
  }

  #mec_location_id option[value="0"] {
    display: none;
    speak: none;
  }

  #mec_location_new_container + .mec-form-row {
    display: none;
    speak: none;
  }

  #mec_organizer_new_container + h4 {
    &, & + .mec-form-row {
      display: none;
      speak: none;
    }
  }

  .mec-dashicons {
    display: none;
    speak: none;
  }

  .mec-fes-form-cntt {
    margin-top: 2rem;
  }

  label {
    color: $color-slate-dark;
    line-height: 1.2em !important;
    font-size: 1rem;
    font-weight: 400;
  }

  input[type="text"], input[type="textarea"], input[type="url"], input[type="password"], input[type="email"] {
    font-size: inherit !important;
    font-family: inherit !important;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px 16px !important;
    box-sizing: border-box;
    height: 3rem !important;
  }

  input[type="file"] {
    line-height: 3rem;
  }

  .file-field {
    .btn {
      border-radius: 0;
    }

    .file-path-wrapper {
      input[type="text"] {
        margin-top: 0;
        font-size: inherit !important;
        text-align: right;
        direction: rtl;
      }
    }
  }

  #mec_fes_thumbnail_img {
    img {
      @extend .z-depth-1;
    }
  }

  #mec_fes_remove_image_button {
    font-size: 0.9em;
    text-align: right;
    cursor: pointer;
    display: block;

    &.mec-util-hidden {
      display: none;
    }
  }

  select {
    display: none;
  }

  textarea {
    font-size: inherit !important;
    font-family: inherit !important;
    background: $color-white;
    border: 1px solid $color-grey-light;
    box-shadow: none;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  button.mec-fes-sub-button {
    @extend .btn;

    width: auto;
    background: $color-blue-unc !important;
    border: $color-blue-unc !important;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0;

    &:hover, &:focus {
      @extend .z-depth-2;

      text-decoration: underline;
    }

    &:focus {
      outline: $color-blue-unc auto 5px;
    }

    &:active {
      background: $color-blue-duke !important;
      border: $color-blue-duke !important;
    }
  }

  .mec-meta-box-fields {
    clear: both;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-top: 2rem;

    h4 {
      background: none;
      border-bottom: 1px solid #CCC;
      padding: 0 0 8px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.1rem;
      margin: 1.5em 0 20px;
      letter-spacing: normal;
    }
  }

  .mec-title {
    clear: both;
  }

  .select-wrapper {
    display: inline-block;

    input.select-dropdown {
      width: 100%;
      height: 3rem;
      background: $color-white;
      border: 1px solid $color-grey-light;
      text-align: left;
      text-transform: none;

      &:hover, &:focus {
        background: rgba(0, 0, 0, 0.08);
      }
    }

    ul.dropdown-content li {
      text-transform: none;
      padding-left: 0;

      &::before {
        display: none;
      }

      span {
        padding: 16px;
        min-height: 50px;
      }

      &.selected {
        background: $color-blue-unc-light;

        span {
          color: $color-slate-dark;
        }
      }
    }

    .caret {
      z-index: 1;
      pointer-events: none;
    }
  }

  .mec-time-picker {
    .select-wrapper {
      width: 5rem;
    }
  }

  .mec-form-row {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .mec-fes-form-sdbr {
    input:not([type]):not(.browser-default), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default) {
      width: 100%;
    }
  }

  @media #{$medium-and-up} {
    .mec-col-4 {
      float: left;
      width: calc(100% / 3);
    }

    .mec-col-6 {
      float: left;
      width: 50%;
    }
  }
}

#mc_embed_signup#mc_embed_signup {
  background: transparent;
  padding: 0;

  #mc_embed_signup_scroll {
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
  }

  input.email {
    border-radius: 0;

    .page-footer & {
      width: auto;
    }
  }

  .button {
    border-radius: 0;

    .page-footer & {
      background: $color-blue-frontier;
    }
  }
}

.post-password-form {
  padding: 50px 20px;

  & > * {
    max-width: 1260px;
    margin: 2em auto;
  }
}
