// Top Nav
.topbar-wrapper {
  background: $color-slate-dark;

  .rtp-logo {
    height: 25px;

    @media #{$small-and-down} {
      height: 20px;
    }
  }

  .topbar {
    height: 40px;
  }

  .topbar-menu-wrapper {
    height: 100%;
  }

  .topbar-menu {
    height: 100%;

    ul {
      height: 100%;
    }

    li {
      height: 100%;
      padding: 5px 15px;

      a {
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: normal;
      }

      &:hover {
        background: $color-slate;
      }
    }
  }
  // Active the current site item
  .current-site {
    background: $color-white;

    a {
      color: $color-slate !important;
    }
  }
}
