.pagination {
  background: none;
  text-align: center;

  @extend .z-depth-0;

  ul li {
    padding: 0;
    height: auto;

    &::before {
      display: none;
    }

    &.gap {
      &.before::before {
        display: inline-block;
        position: relative;
        content: '\2026';
        color: $color-black;
        margin-right: 6px;
        left: 0;
      }

      &.after::after {
        display: inline-block;
        position: relative;
        content: '\2026';
        color: $color-black;
        margin-right: 6px;
        left: 0;
      }
    }
  }

  a, span {
    color: $color-white;
    display: inline-block;
    min-width: 40px;
    padding: 0 15px !important;
    height: 40px;
    line-height: 1.7em !important;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;

    &:hover, &:focus {
      color: $color-white;

      @extend .z-depth-2;
    }

    &.active, &.current {
      color: $color-white;

      @extend .z-depth-0;
    }

    html[data-contrast="true"] & {
      background: $color-black;
      border-color: $color-white;

      &:hover, &:focus {
        background: $color-white;
        color: $color-black !important;
      }

      &.active, &.current {
        background: $color-grey-dark;
        color: $color-white !important;
      }
    }
  }

  [data-font="3"] & {
    a, span {
      line-height: 1.4em !important;
    }
  }
}

// Blog Pagination
.nav-links {
  margin-bottom: 4em;
  font-size: 12px;

  .page-numbers {
    color: $color-slate;
    height: auto;
    transition: all .2s;

    &:hover, &:active, &:focus {
      box-shadow: none;
      color: $color-slate;
      background: #ececec;
    }
  }

  .current {
    background: $color-slate;

    &:hover, &:active, &:focus {
      background: $color-slate;
      color: $color-white;
    }
  }
}
